<!-- your html code here -->
<div class="container-fluid">

    <h1>Portfolio</h1>
        <h5>El tarot con gatos fusiona el estudio de la espiritualidad con la misteriosa conexión felina. Las cartas revelan secretos mientras que los gatos, místicos guías, aportan su intuición única 🐾🔮</h4>

</div>

<div class="container-fluid">

    <div class="row align-items-center">

      <div class="col">

        <div class="card" style="width: 20rem; height: 50rem;">
            <img src="https://www.loscarabeo.com/cdn/shop/products/JodorowskyandhisCat-CARDS4_300x300.jpg?v=1623240671" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><a href="https://www.astrology.com/es/tarot/card-meaning.aspx?isMajor=true&type=17" class="pe-auto">La Estrella</h4></a>
              <p class="card-text">La carta de la Estrella en el Tarot simboliza el futuro, la claridad de visión y la percepción espiritual. Los símbolos básicos de esta carta son siete u ocho estrellas, un charco de agua, una mujer arrodillada (un pie en el agua, otro en la tierra), y dos urnas.</p>
            </div>
          </div>

      </div>

      <div class="col">
        <div class="card" style="width: 20rem; height: 50rem;">
            <img src="https://www.loscarabeo.com/cdn/shop/products/JodorowskyandhisCat-CARDS1_300x300.jpg?v=1623240670" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><a href="https://futooro.net/tarot/cartas/los-amantes/" class="pe-auto">Los Amantes</h4></a>
              <p class="card-text">Implica unión y estabilidad de las relaciones y la comunión. Cuando una carta sale en reversa, significa falta de equilibrio, armonía y sobre todo una diferenciación notable en cuanto a valores y sentimientos.</p>
            </div>
          </div>

      </div>

      <div class="col">

        <div class="card" style="width: 20rem; height: 50rem;">
            <img src="https://www.loscarabeo.com/cdn/shop/products/JodorowskyandhisCat-CARDS5_300x300.jpg?v=1623240670" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><a href="https://www.trustedtarot.com/es/cartas/significado/el-sol/" class="pe-auto">El Sol</h4></a>
              <p class="card-text">El sol representa un desarrollo positivo y tiene una Buena influencia inherente. Sugiere ganancia personal y alegría, y que las metas personales están al alcance de tus manos si estás dispuesto a esforzarte por ellas.</p>
            </div>

      </div>

    </div>

</div>